block content
    main.conatiner
        .row
            .col-md-offset-1
                h1.display-4.m-b-2  Theory
        .row
            .col-md-9.col-md-offset-1
                .panel.panel-default
                    .panel-heading #[h4 Information]
                    .panel-body 
                                p This page provides a brief overview of the equations, data, 
                                  | and theory used to correct the equilibrium constants. 
                                  | For a more rigorous description of the theory and assumptions involved in adjusting 
                                  | equilibrium constants, please consult the #[a(href="#{baseUrl}/#references") references]. 
                                
                                p For a step-by-step walkthrough of the adjustment calculations over the CK clamp, please 
                                  | consult this #[a(href="#{baseUrl}/_jupyter_notebook/creatine-kinase-clamp.html") Jupyter notebook]. 
                                  | This document contains descriptions of the process 
                                  | alongside Python code that implements the calculations.
        .row
            .col-md-9.col-md-offset-1
                .panel.panel-default
                    .panel-heading #[h4 Chemical Equations]
                    .panel-body 
                                p The Chemical Equations for the hydrolysis of ATP, the Creatine Kinase reaction, 
                                  | and the Adenylate Kinase reaction are listed below
                                $$
                                |K_{\text{ref ATP}} = \frac {[\text{ADP}^{3-}][\text{HPO}_4^{2-}][\text{H}^{+}]}
                                | {[\text{ATP}^{4-}][\text{H}_2\text{O}]}
                                |$$
                                
                                $$
                                | K_{\text{ref CK}} = \frac {[\text{ATP}^{4-}][\text{Cr}]}
                                | {[\text{ADP}^{3-}][\text{PCr}^{2-}][\text{H}^{+}]}
                                |$$
                                
                                $$
                                | K_{\text{ref AK}} = \frac {[\text{ATP}^{4-}][\text{AMP}^{2-}]}
                                | {[\text{ADP}^{3-}]^2}
                                |$$
        .row
            .col-md-9.col-md-offset-1
                .panel.panel-default
                    .panel-heading #[h4 Apparent Equilibrium Constants]
                    .panel-body 
                                p The apparent equilibrium constant (K`) for the above chemical equations 
                                  | is related to the Reference Equilibrium Constant (Kref, which is measured 
                                  | under specific experimental conditions) through the following relationship:
                                $$
                                |K^\prime_{ATP} = \frac {K_{\text{ref ATP}}}{[\text{H}{^+}]}
                                |\frac{
                                |\left\{1 + \frac {[\text{H}{^+}]}
                                |                  {K_{\text{a}_{\text{ADP}}}}
                                |                  + K_{\text{b}_{\text{MgADP}}}[\text{Mg}^{2+}]
                                |                  + \frac {K_{\text{b}_{\text{MgHADP}}} [\text{H}{^+}][\text{Mg}^{2+}]}
                                |                          {K_{\text{a}_{\text{ADP}}}}
                                |\right\}
                                |\left\{ 1 + \frac {[\text{H}{^+}]}
                                |          {K_{\text{a}_{\text{HPO}{_4}}}}
                                |  + K_{\text{b}_{\text{MgHPO}{_4}}}[\text{Mg}^{2+}]
                                |\right\}
                                |}
                                |{
                                |\left\{1 + \frac {[\text{H}{^+}]}
                                |                  {K_{\text{a}_{\text{ATP}}}}
                                |                  + K_{\text{b}_{\text{MgATP}}}[\text{Mg}^{2+}]
                                |                  + \frac {K_{\text{b}_{\text{MgHATP}}} [\text{H}{^+}][\text{Mg}^{2+}]}
                                |                          {K_{\text{a}_{\text{ATP}}}}
                                |\right\}
                                |}$$
                                
                                $$
                                |K^\prime_{CK} = K_{\text{ref CK}} 
                                |    \frac
                                |    {
                                |    [\text{H}{^+}]\left\{1 + \frac {[\text{H}{^+}]}
                                |                            {K_{\text{a}_{\text{ATP}}}}
                                |                    + K_{\text{b}_{\text{MgATP}}}[\text{Mg}^{2+}]
                                |                    + \frac {K_{\text{b}_{\text{MgHATP}}} [\text{H}{^+}] [\text{Mg}^{2+}]}
                                |                            {K_{\text{a}_{\text{ATP}}}}
                                |            \right\}
                                |    }
                                |    {
                                |    \left\{1 + \frac {[\text{H}{^+}]}
                                |                     {K_{\text{a}_{\text{ADP}}}}
                                |             + K_{\text{b}_{\text{MgADP}}}[\text{Mg}^{2+}]
                                |             + \frac {K_{\text{b}_{\text{MgHADP}}} [\text{H}{^+}] [\text{Mg}^{2+}]}
                                |                     {K_{\text{a}_{\text{ADP}}}}
                                |    \right\}
                                |    \left\{1 + \frac {[\text{H}{^+}]}
                                |                     {K_{\text{a}_{\text{PCr}}}}
                                |             + K_{\text{b}_{\text{MgPCr}}}[\text{Mg}^{2+}]
                                |    \right\}
                                |    }$$
                                
                                $$
                                |K^\prime_{ATP} = \frac {K_{\text{ref ATP}}}{[\text{H}{^+}]}
                                |\frac{
                                |\left\{1 + \frac {[\text{H}{^+}]}
                                |                  {K_{\text{a}_{\text{ADP}}}}
                                |                  + K_{\text{b}_{\text{MgADP}}}[\text{Mg}^{2+}]
                                |                  + \frac {K_{\text{b}_{\text{MgHADP}}} [\text{H}{^+}][\text{Mg}^{2+}]}
                                |                          {K_{\text{a}_{\text{ADP}}}}
                                |\right\}
                                |\left\{ 1 + \frac {[\text{H}{^+}]}
                                |          {K_{\text{a}_{\text{HPO}{_4}}}}
                                |  + K_{\text{b}_{\text{MgHPO}{_4}}}[\text{Mg}^{2+}]
                                |\right\}
                                |}
                                |{
                                |\left\{1 + \frac {[\text{H}{^+}]}
                                |                  {K_{\text{a}_{\text{ATP}}}}
                                |                  + K_{\text{b}_{\text{MgATP}}}[\text{Mg}^{2+}]
                                |                  + \frac {K_{\text{b}_{\text{MgHATP}}} [\text{H}{^+}][\text{Mg}^{2+}]}
                                |                          {K_{\text{a}_{\text{ATP}}}}
                                |\right\}
                                |}$$
                                
                                p Each expression contained within  {}  represents one of the ions within the Kref expressed as 
                                  | a function of its its acid dissociation and magnesium binding properties.
                                  | These are also equilibrium constants and must be adjusted for ionic strenght, pH,
                                  | free magnesium, and temperature of the system. These variables along with their 
                                  | corresponding values are summarized in the #[a(href="#constants") table below]
        .row
            .col-md-9.col-md-offset-1
                .panel.panel-default
                    .panel-heading #[h4 Vant Hoff Equation]
                    .panel-body Used to adjust the temperature of K#[sub ref]
                    p $$\ln\left(\frac{K_2}{K_1}\right) = -\frac{\Delta H ^\circ}{R}\left( \frac{1}{T_2} - \frac{1}{T_1} \right)$$
                    ul \(R = 8.3144598 \frac{J}{K mol}\)
                    ul \(K_1 = K_{ref_{I=0}}\)
                    ul \(T_1 = \) Temperature of \(K_1\)
                    ul \(K_2 = K_{ref_{I=0}}\) at new temperature \(T_2\)
                    ul \(\Delta H^\circ = \) Change in Enthalpy at Ionic Strength 0                                  
        .row
            .col-md-9.col-md-offset-1
                .panel.panel-default
                    .panel-heading #[h4 Debye–Hückel]
                    .panel-body The osmotic coefficient, \(A\), derived from literature measurements of the static dielectric constant and density of water (Clark and Glew, 1980)
                    p $$A_m = 3 \left(-16.390 23 + \frac{261.337 1}{T} + 3.368 9633\ln T - 1.437 167\left(\frac{T}{100}\right) + 0.111 995 \left(\frac{T}{100}\right)^2 \right)$$
                    .panel-body \(\gamma\) is the activity coefficient of each separate ionic species in the \(K_{ref}\) where:
                    p $$\ln γ = \frac{-A_m \sqrt{I} z^2}{1 + B \sqrt{I}}$$
                    ul \(I= \text{ionic strength} (\frac{mol}{L})\)
                    ul \(B = 1.6 \frac{kg^{1/2}}{mol^{1/2}}\)
                    ul \(z = \text{charge}\)
                    .panel-body Using these equations, we can generate the activity coefficient of each separate ionic species within a chemical equilbrium and generate a constant \(\Gamma\):
                    p $$\Gamma = \frac{\prod \gamma_{\text{products}_{I=\text{finite}}}} {\prod \gamma_{\text{reactants}_{I=\text{finite}}}}$$
                    .panel-body The \(K_{ref}\) at Ionic Strength 0 is related by \(\Gamma\) to the measured \(K_{ref}\):
                    p $$K_{\text{ref}_{I=O\text{, }T=\text{finite}}} = \Gamma K_{\text{ref}_{I=\text{finite, }T=\text{finite}}}$$
        .row
            .col-md-9.col-md-offset-1
                .panel.panel-default
                    .panel-heading#constants #[h3 Constants for ATP Hydrolysis, Creatine Kinase, and Adenylate Kinase]
                    .panel-body Thermodynamic data required to adjust K` and K#[sub ref] to temperature and ionic strength 
                                | (#[a(href="#{baseUrl}/#references") Teague, Golding, Dobson 1996])
                table.table.table-striped.table-condensed.text-center
                  thead(style="font-size:large;")
                    th.text-center Symbol
                    th.text-center Reaction
                    th.text-center Equilibrium Constant
                    th.text-center $$K_{\text{ref}}$$
                    th.text-center $$\Delta H{^\circ} (kJ mol^{-1})$$
                  tr
                    td $$K_{\text{a}_{\text{ATP}}}$$
                    td $$\text{HATP}^{3-} \leftrightarrow H{^+} + \text{ATP}^{4-}$$
                    td $$\frac{[H{^+}][\text{ATP}^{4-}]}{[\text{HATP}^{3-}]}$$
                    td 2.512×10#[sup -8]
                    td -6.30
                  tr
                    td $$K_{\text{b}_{\text{MgATP}}}$$
                    td $$\text{Mg}^{2+} + \text{ATP}^{4-} \leftrightarrow \text{MgATP}^{2-}$$
                    td $$\frac{[\text{MgATP}^{2-}]}{[\text{Mg}^{2+}][\text{ATP}^{4-}]}$$
                    td 1.514×10#[sup 6]
                    td 22.90
                  tr
                    td $$K_{\text{b}_{\text{MgHATP}}}$$
                    td $$\text{Mg}^{2+} + \text{HATP}^{3-} \leftrightarrow \text{MgHATP}^{1-}$$
                    td $$\frac{[\text{MgHATP}^{1-}]}{[\text{Mg}^{2+}][\text{HATP}^{3-}]}$$
                    td 4.266×10#[sup 3]
                    td 16.90
                  tr
                    td $$K_{\text{a}_{\text{ADP}}}$$
                    td $$\text{HADP}^{2-} \leftrightarrow H{^+} + \text{ADP}^{3-}$$
                    td $$\frac{[H{^+}][\text{ADP}^{3-}]}{[\text{HADP}^{2-}]}$$
                    td 6.607×10#[sup -8]
                    td -5.60
                  tr
                    td $$K_{\text{b}_{\text{MgADP}}}$$
                    td $$\text{Mg}^{2+} + \text{ADP}^{3-} \leftrightarrow \text{MgADP}^{1-}$$
                    td $$\frac{[\text{MgADP}^{1-}]}{[\text{Mg}^{2+}][\text{ADP}^{3-}]}$$
                    td 4.466×10#[sup 4]
                    td 19.0
                  tr
                    td $$K_{\text{b}_{\text{MgHADP}}}$$
                    td $$\text{Mg}^{2+} + \text{HADP}^{2-} \leftrightarrow \text{MgHADP}$$
                    td $$\frac{[\text{MgHADP}]}{[\text{Mg}^{2+}][\text{HADP}^{2-}]}$$
                    td 3.163×10#[sup 2]
                    td 12.50
                  tr
                    td $$K_{\text{a}_{\text{AMP}}}$$
                    td $$\text{HAMP}^{1-} \leftrightarrow H{^+} + \text{AMP}^{2-}$$
                    td $$\frac{[H{^+}][\text{AMP}^{2-}]}{[\text{HAMP}^{1-}]}$$
                    td 1.862×10#[sup -7]
                    td -5.40
                  tr
                    td $$K_{\text{b}_{\text{MgAMP}}}$$
                    td $$\text{Mg}^{2+} + \text{AMP}^{2-} \leftrightarrow \text{MgAMP}$$
                    td $$\frac{[\text{MgAMP}^{1-}]}{[\text{Mg}^{2+}][\text{AMP}^{2-}]}$$
                    td 6.165×10#[sup 2]
                    td 11.30                 
                  tr
                    td $$K_{\text{a}_{\text{HPO}{_4}}}$$
                    td $$\text{H}{_2}\text{PO}{_4}^{1-} \leftrightarrow \text{H}{^+} + \text{HPO}{_4}^{2-}$$
                    td $$\frac {[\text{HPO}{_4}^{2-}][\text{H}^{+}]}{[\text{H}{_2}\text{PO}{_4}^{1-}]}$$
                    td 6.026×10#[sup -8]
                    td 3.60
                  tr
                    td $$K_{\text{b}_{\text{MgHPO}{_4}}}$$
                    td $$\text{Mg}^{2+} + \text{HPO}{_4}^{2-} \leftrightarrow \text{MgHPO}{_4}$$
                    td $$\frac{[\text{MgHPO}{_4}]}{[\text{Mg}^{2+}][\text{HPO}{_4}^{2-}]}$$
                    td 5.128×10#[sup 8]
                    td 12.20
                  tr
                    td $$K_{\text{a}_{\text{PCr}}}$$
                    td $$\text{HPCr}^{1-} \leftrightarrow \text{H}{^+} + \text{PCr}^{2-}$$
                    td $$\frac{[\text{H}{^+}][\text{PCr}^{2-}]}{[\text{HPCr}^{1-}]}$$
                    td 8.854×10#[sup -6] 
                    td 2.66
                  tr
                    td $$K_{\text{b}_{\text{MgPCr}}}$$
                    td $$\text{Mg}^{2+} + \text{PCr}^{2-} \leftrightarrow \text{MgPCr}$$
                    td $$\frac{[\text{MgPCr}]}{[\text{Mg}^{2+}][\text{PCr}^{2-}]}$$
                    td 2.320×10#[sup 2]
                    td 8.19
                  tr
                    td $$K_{\text{eq}_{\text{Creatine Kinase}}}$$
                    td $$\text{PCr}^{2-} + \text{ADP}^{3-} + \text{H}^+ \leftrightarrow \text{ATP}^{4-} + \text{Cr} $$
                    td $$\frac{[\text{ATP}^{4-}][\text{Cr}]}{[\text{PCr}^{2-}][\text{ADP}^{3-}][\text{H}^+]}$$
                    td 2.58×10#[sup 8]
                    td -17.55
                  tr
                    td $$K_{\text{eq}_{\text{ATP Hydrolysis}}}$$
                    td $$\text{ATP}^{4-} + \text{H}_2\text{O} \leftrightarrow \text{ADP}^{3-} + \text{HPO}{_4}^{2-} + \text{H}^+$$
                    td $$\frac{[\text{ADP}^{3-}][\text{HPO}{_4}^{2-}][\text{H}^+]}{[\text{ATP}][\text{H}_2\text{O}]}$$
                    td 2.946×10#[sup -1]
                    td -20.50
                  tr
                    td $$K_{\text{eq}_{\text{Adenylate Kinase}}}$$
                    td $$2\text{ADP}^{3-} \leftrightarrow \text{ATP}^{4-} + \text{AMP}^{2-}$$
                    td $$\frac{[\text{ATP}^{4-}][\text{AMP}^{2-}]}{[\text{ADP}^{3-}]^2}$$
                    td 2.248×10#[sup -1]
                    td -1.50