block content
    main.conatiner
        .row
            .col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10(style="padding: 0px 15px;")
                h1 Citation
                p To cite this calculator, please reference the following publication and include a link to this page:
                p [Placeholder]
        .row
            .col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10(style="padding: 0px 15px;")
                h2#references References
                p  Teague, Golding, and Dobson were not involved in the generation of this site. 
                 | However, their manuscript, constants, and equations formed the bedrock of this calculator. 
                ul Teague, W. E., Golding, E. M. & Dobson, G. P. Adjustment of K’ for the creatine kinase, 
                  | adenylate kinase and ATP hydrolysis equilibria to varying temperature and ionic strength. 
                  | Journal of Experimental Biology 199, 509–512 (1996).
                h4 Additional References
                ul Golding, E. M., Teague, W. E. & Dobson, G. P. Adjustment of K’ to varying pH and 
                  | pMg for the creatine kinase, adenylate kinase and ATP hydrolysis equilibria permitting
                  | quantitative bioenergetic assessment. Journal of Experimental Biology 198, 1775–1782 (1995).
                ul Alberty, R. A. Calculation of transformed thermodynamic properties of biochemical 
                  | reactants at specified pH and pMg. Biophysical Chemistry 43, 239–254 (1992).
                ul Clarke, E. C. W. & Glew, D. N. Evaluation of Debye–Hückel limiting slopes for water 
                  | between 0 and 150°C. J. Chem. Soc., Faraday Trans. 1 76, 1911–1916 (1980).

        .row
            .col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10(style="padding: 0px 15px;")
                h2 Links
                ul #[a(href="https://github.com/dmpio/bioenergetic-calculators") Source Code] for this site
                ul An html rendition of the #[a(href="https://dmpio.github.io/bioenergetic-calculators/jupyter_notebook/creatine-kinase-clamp.html") Jupyter notebook] 
                  | which explains the process of adjusting equilibrium constants over the creatine kinase clamp.
                ul A functional copy of the #[a(href="https://dmpio.github.io/bioenergetic-calculators/jupyter_notebook/creatine-kinase-clamp.ipynb") Jupyter notebook] 
        
        .row
            .col-sm-offset-1.col-sm-10.col-xs-offset-1.col-xs-10(style="padding: 0px 15px;")
                h2 Software used to generate this site
                ul #[a(href="https://harpjs.com") Harp]
                ul #[a(href="http://jvandemo.github.io/hb-bootstrap/") Bootstrap boilerplate for Harp]
                ul #[a(href="https://rajasegar.github.io/JADE-Bootstrap/") JADE-Bootstrap]
                ul #[a(href="https://github.com/nghuuphuoc/bootstrapvalidator") BootstrapValidator]
                ul #[a(href="https://clipboardjs.com/") Clipboard.JS]
        